* {
	font-size: 18px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#temperature,
#language,
#custom-clipboard {
	background: #1a1a1a;
}

#clock,
#language {
  margin-bottom: -6px;
}
#workspaces {
  margin-bottom: -10px;
}
#mode {
  margin-bottom: -5px;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button.urgent {
	color: red;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#temperature {
  color: #ff7777;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#temperature,
#tray,
#language {
	padding: 0 10px;
}

#mode {
	padding-right: 10px;
}

#custom-clipboard {
  padding-right: 10px;
  padding-left: 10px;
}